*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(countdown-bg.png)  no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel Decorative', cursive;
}
/*Solução para erro em larguras de tela menores*/
.parent{
    display: flex;
    justify-content: center;
    height: 90vh;
}
.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    /*color: wheat;*/
    color: rgb(0,48,40);
}

.time-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    animation-name: display-animation;
    animation-duration: 1s;
    color: rgb(209,211,213);
}

.time-box-content{
    font-size: clamp( 2.0em, 2.0em + 1vw, 4.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > h1{
    font-size: clamp( 2.0em, 2.0em + 1vw, 3.0em);
    text-align: center;
    margin-top: 1em;
    
}
.container > h2{
    font-size: clamp( 1.2em, 1.2em + 1vw, 2.2em);
    text-align: center;
    margin-top: 0.5em;
}

h2 a{
    text-decoration: none;
    color: rgb(158, 163, 168);
}
h2 a:visited{
    color: rgb(158,163,168);
}


.container2{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
}
.container2 > h1{
    font-size: clamp(2.0em, 2.0em + 1vw, 3.0em);
    text-align: center;
    color: rgb(0,48,40);
}
.char-info{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    text-align: justify;
}

.char-info:last-child{
    margin-bottom: 1em;
}

.char-img{
    /*display: flex;
    justify-content: center;
    width: 40%;
    min-height: 100%;
    max-height: 400px;*/
    width: 40%;
    align-self: center;
    
}
.char-img img{
   /* max-width: 100%;
    max-height: 100%;*/
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: 3px solid rgb(127,149,196);
    margin-right: 1em;
    animation-name: breathe;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.char-desc{
    /*width: 60%;
    padding-left: 1.5em;*/
    width: 60%;
    margin-left: 3em;
    align-self: start;
}
.char-desc h1{
    font-size: clamp(2.0em, 2.0em + 1vw, 3.0em);
    color: rgb(209,211,213);
}
.char-desc p{
    margin-top: 1em;
    font-size: clamp(1.0em, 1.0em + 1vw, 2.5em);
    color: rgb(0,48,40);
    font-family: 'Open Sans', sans-serif;
}



@keyframes display-animation{
    from {display: none; opacity: 0;}
    to {display: "flex"; opacity: 1;}
}

@keyframes breathe{
    from{
      border-color: rgb(127,149,196);
    }
    to{
      border-color: rgb(209,211,213);
    }
  }

@media screen and (max-width: 1050px){
    .container{
        padding-bottom: 1em;
        margin-top: 1em;
    }
    .time-box{
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: space-around;
    }
    .parent{
        height: auto;
    }

    .char-desc{
        padding: 0 1em;
    }
    
    .container2{
        width: 100%;
        padding:  0 1em;
    }
    
}